@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  font-family: "Bangers", cursive;
}

.square {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border-radius: 0 !important;
}

.square:hover {
  background-color: black;
}

.square span {
  display: flex;
  align-content: center;
  justify-content: center;
}